div h1 {
    color: red;
}
​
.center-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
h1 {
    text-align: center;
}
